{% extends 'artcase/base.html' %}
{% load humanize %}

{% block main %}
<h2>{{ object.title_english_short }}</h2>
<dl>
    <dt>Title (original language)</dt><dd>{{ object.title_original }}</dd>
    <dt>Code Number</dt><dd>{{ object.code_number }}</dd>

    {% comment %}
    <dt>Creators</dt>
    <dd>
        <ul>
        {% for creator in object.creators %}
            <li>{{ creator }}</li>
        {% endfor %}
        </ul>
    </dd>
    <dt>Media</dt>
    <dd>
        <ul>
        {% for medium in object.media %}
            <li>{{ medium }}</li>
        {% endfor %}
        </ul>
    </dd>
    <dt>Sizes</dt>
    <dd>
        <ul>
        {% for size in object.sizes %}
            <li>{{ size }}</li>
        {% endfor %}
        </ul>
    </dd>
    <dt>Dates</dt>
    <dd>
        <ul>
        {% for date_ in object.dates %}
            <li>{{ date_ }}</li>
        {% endfor %}
        </ul>
    </dd>
    <dt>Values</dt>
    <dd>
        <ul>
        {% for value in object.values %}
            <li>{{ value }}</li>
        {% endfor %}
        </ul>
    </dd>
    {% endcomment %}

    <dt>Publisher</dt><dd>{{ object.publisher }}</dd>
    <dt>Printer</dt><dd>{{ object.printer }}</dd>
    <dt>Title English Short</dt><dd>{{ object.title_english_short }}</dd>
    <dt>Title English Full</dt><dd>{{ object.title_english_full }}</dd>
    <dt>Title Original</dt><dd>{{ object.title_original }}</dd>
    <dt>Description</dt><dd>{{ object.description }}</dd>
    <dt>Glavlit</dt><dd>{{ object.glavlit }}</dd>
    <dt>Edition State</dt><dd>{{ object.edition_state }}</dd>
    <dt>Edition Size</dt><dd>{{ object.edition_size }}</dd>
    <dt>Public</dt><dd>{{ object.public }}</dd>
    <dt>Condition</dt><dd>{{ object.condition }}</dd>
    <dt>Support</dt><dd>{{ object.support }}</dd>

</dl>
{% endblock main %}
