{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ site_title }}{% if page_title %} | {{ page_title }}{% endif %}</title>

    {% block head_meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock head_meta %}

    {% block head_links %}
        <link rel="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto:300,500,900&subset=latin,cyrillic' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin' rel='stylesheet'>
        <link href="{% static 'lib/bootstrap-3.3.5-dist/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'artcase/css/base.css' %}" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    {% endblock head_links %}

    {% block head_scripts %}
        <script src="{% static 'lib/jquery-1.11.3.min.js' %}"></script>
        <script src="{% static 'lib/bootstrap-3.3.5-dist/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'artcase/js/base.js' %}"></script>
    {% endblock head_scripts %}

    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>

    <header class="header">
    {% block header %}
        {% include 'artcase/includes/navbar.html' %}
    {% endblock header %}
    </header>

    <section class="section_main">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                {% block main %}
                {% endblock main %}
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
    {% block footer %}
        {% include 'artcase/includes/footer.html' %}
    {% endblock footer %}
    </footer>

</body>
</html>