{% extends 'artcase/base.html' %}
{% load humanize %}

{% block main %}
<h1 class="page-header">Categories</h1>
<p>The collection is organized by category based on the theme of each poster. Headings for each theme derive from the poster’s content and its place in Soviet history. Categories in the collection are: Revolution, Civil War, Economy, Industry, Agriculture, Workers, Military, World War II (including posters made during the war and memorial posters after the war), Cold War, Lenin, Stalin, Women, Youth (including Young Pioneers, Komsomol and education-themed posters), Communist Culture (anti-religious themes, subbotnik/voskresnik), Events (Soviet festivals, elections, party congress), Comecon-Warsaw Pact (posters from Warsaw Pact nations and member-nations of the Council for Mutual Economic Assistance (Comecon)), and International (posters outside the Soviet Union created by communist or Marxist-leaning nations).</p>
{% include "artcase/includes/slides_category.html" %}

{% endblock main %}