{% extends 'artcase/base.html' %}
{% load humanize %}

{% block main %}
<h2><a href="{% url 'creator_list' %}">Artist</a>: {{ object.get_name_latin }}</h2></h2>

<dl class="dl-horizontal">
    {% if object.nationality %}<dt>Nationality</dt><dd>{{ object.nationality }}</dd>{% endif %}
    {% if object.lifespan %}<dt>Lifespan</dt><dd>{{ object.get_lifespan }}</dd>{% endif %}
</dl>

<h3>Artifacts created by this artist</h3>
{% include 'artcase/includes/slides_artifact.html' %}  

{% endblock main %}