{% extends 'artcase/base.html' %}
{% load humanize %}

{% block main %}

<h2><a href="{% url 'organization_list' %}">Organization</a>: {{ object.name }}</h2></h2>
<dl class="dl-horizontal">
    <dt>Location</dt><dd>{{ object.location }}</dd>
    <dt>Description</dt><dd>{{ object.description }}</dd>

    {% if artifacts_printed %}
        <h3>Artifacts Printed</h3>
        {% with object_list=artifacts_printed %}
            {% include 'artcase/includes/slides_artifact.html' %}
        {% endwith %}
    {% endif %}

    {% if artifacts_published %}
        <h3>Artifacts Published</h3>
        {% with object_list=artifacts_published %}
            {% include 'artcase/includes/slides_artifact.html' %}
        {% endwith %}
    {% endif %}


</dl>
{% endblock main %}