body {
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
}

/* TYPOGRAPHY */

p, .navbar-brand {
    font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5, h6, {}

label {
    font-weight: bold;
}

h1 {
    font-weight: 300;
}

h2, h3, h4 {
    font-weight: 500;
}

h5, h6 {
    font-weight: 900;
}


/* SLIDES */

.slide {}

.slide > a {
    height: 0;
    padding-bottom: 100%;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    z-index: 1;
}

.slide > a:hover,
.slide > a:active {
    text-decoration: none;
}

.slide_title {
    margin: .5rem;
    color: white;
    text-shadow: 0 0 .25em black, 0 0 .5em black, 2px 2px 2px black ;
    text-decoration: none;
    overflow: hidden;
    font-weight: 300;
    font-size: 1.5em;
}

.slide_title.heavy {
    font-weight: 500;
    font-size: 2em;
}


.slide_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: hsla(0, 0%, 0%, .5);*/
    z-index: -1;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.75+0,0+100 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.75) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.75)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}


/* STRUCTURE */

    /* HERO */

    .hero {
        background-image: url('/static/artcase/img/banner_index.jpg');
        background-size: cover;
        background-position: 50% 50%;
        height: 40rem;
    
    }

    .hero .container {
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .hero h1 {
        color: white;
        font-weight: 500;
        vertical-align: middle;
    }


    /* NAVBAR */

    #navbar_main {
        background-color: rgb(225, 0, 0);
        border-bottom-color: rgb(125, 0, 0);
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    }

    #navbar_main .navbar_link,
    #navbar_main .navbar-brand {
        color: white;
        font-weight: bold;
    }

    #navbar_main .open .navbar_link {
        background-color: rgb(255, 0, 0);
    }

    #navbar_main .navbar_link:hover,
    #navbar_main .navbar-brand:hover {
        color: rgb(125, 0, 0);
    }

    #navbar_main .active .dropdown-toggle {
        background-color: rgb(255, 0, 0);
    }

    /* search */
    #navbar_search {
    }

    #navbar_search_input {
        border-color: rgb(175, 0, 0);
    }

    #small_navbar_search_form_group {
        width: 350px;
    }

    #navbar_search_submit, #navbar_toggle {
        background-color: rgb(200, 0, 0);
        border-color: rgb(175, 0, 0);
    }

    #navbar_main .glyphicon-search {
        color: white;
    }

    #navbar_search_submit:hover, #navbar_toggle:hover {
        background-color: rgb(255, 0, 0);
    }

    #site_logo {
        padding: 10px;
    }
    .navbar-brand {
        margin-right:5px;

    }

    #action_button {
        margin-left: .5em;
    }

    /* MAIN */

    .section_main {
        padding-bottom: 8rem;
    }


    /* FOOTER */

    .footer {
        background-color: #500;
        font-family: 'Roboto Slab', serif;
        padding: 12rem 5rem;
        color: white;
    }

    .footer ul {
        list-style-type: none;
        padding-left: 0px;
    }

    .footer a {
        color: #f00;
    }

    .footer a:hover,
    .footer a:active {
        color: #a00;
    }

/* ARTIFACTS */

.header_box_left {}
.header_box_left h1 {
    border-bottom: none;
    padding-bottom: 0;
}

.header_box_right {
    text-align: right;
}

.header_box_right h2 {
    padding-top: 2.25rem;
}

#description_tab {
    padding: 1em;
}