# mac
.DS_Store

# npm
node_modules/

# db
*.sqlite3

# python
__pycache__/
*.py[cod]
*$py.class

# dist
.Python
.env

# pyenv
.python-version

# work is done in src.  No real content should be stored in static
# will confirm this later
static/