{% extends 'core/base.html' %}
{% load static %}

{% block main %}
    <main>
        <h1>Password Reset</h1>

        <p>Forget your password?  Enter your email below, and we'll email instructions for setting a new one.</p>

        <form method="post">{% csrf_token %}
        {{ form.email.errors }}
        <p>
            <label for="id_email">Email address:</label>{{ form.email }}
            <input type="submit" value="Reset my password" />
        </p>
        </form>

    </main>
{% endblock main %}

{% block aside %}
    <aside>
    </aside>
{% endblock aside %}