<header>
    <a href="{% url 'home' %}">Artcase</a>

    <nav>
        <ul>
            <li><a href="{% url 'artcase:work_create' %}">Work Create</a></li>
            <li><a href="{% url 'artcase:work_list' %}">Work List</a></li>
        </ul>
    </nav>

    <section>
        <ul>
            {% if user.is_authenticated %}
            <li>Welcome {{ user }}.  <a href="{% url 'auth:logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'auth:login' %}">Login</a></li>
            {% endif %}
        </ul>
    </section>

</header>