<header>
    <div id="brand">
        <a href="{% url 'home' %}">Artcase</a>
    </div>

    <section id="work_menu">
        {% if user.is_authenticated %}
        <ul>
            <li><a href="{% url 'artcase:work_create' %}">Work Create</a></li>
            <hr>
            <li><a href="{% url 'artcase:work_list' %}">Work List</a></li>
            <li><a href="{% url 'artcase:creator_list' %}">Creator List</a></li>
            <li><a href="{% url 'artcase:location_list' %}">Location List</a></li>
            <li><a href="{% url 'artcase:image_list' %}">Image List</a></li>
            <li><a href="{% url 'artcase:medium_list' %}">Medium List</a></li>
            <li><a href="{% url 'artcase:category_list' %}">Category List</a></li>
            <li><a href="{% url 'artcase:collection_list' %}">Collection List</a></li>
        </ul>
        {% else %}
        <!-- pass -->
        {% endif %}
    </section>


    <section id="user_menu">
        {% if user.is_authenticated %}
        <ul>
            <li>Welcome <a href="{% url 'user_profile' username=user.username %}">{{ user }}</a></li>
            <li><a href="{% url 'password_change' %}">Change Password</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
        {% else %}
        <p><a href="{% url 'login' %}">Login</a></p>
        {% endif %}
    </section>
</header>