<header>
    <a href="{% url 'home' %}">Artcase</a>

    <section id="work_menu">
        <ul>
            <li><a href="{% url 'artcase:work_create' %}">Work Create</a></li>
            <li><a href="{% url 'artcase:work_list' %}">Work List</a></li>
        </ul>
    </section>

    <section id="user_menu">
        <ul>
            {% if user.is_authenticated %}
            <li>Welcome <a href="{% url 'user_profile' username=user.username %}">{{ user }}</a>.  <a href="{% url 'auth:logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'auth:login' %}">Login</a></li>
            {% endif %}
        </ul>
    </section>

</header>