header {    
    color: white;
    background-color: black;
    display: flex;

    a {
        color: orange;
    }

    ul, p {
        margin: 0 auto;
    }

    div#brand {}

    section#work_menu {}

    section#user_menu {}
}