{% extends './base.html' %}
{% load static %}

{% block main %}
    <main>
        <h1>{{ view.title }}</h1>
        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save" />

            {% if object %}
            <a href="{{ object.get_absolute_url }}">Cancel</a>
            {% else %}
            <a href="{{ request.META.HTTP_REFERER }}">Cancel</a>
            {% endif %}
        </form>
    </main>
{% endblock main %}

{% block aside %}
    <aside>
    </aside>
{% endblock aside %}