{% extends './base.html' %}
{% load static %}
{% load artcase_extras %}

{% block main %}
    <main>
        <h1>{{ view.title }}</h1>
        <ul>
        {% for obj in object_list %}
            <li><a href="{{ obj.get_absolute_url }}">{{ obj }}</a></li>
        {% empty %}
            <li>No objects yet.</li>
        {% endfor %}
        </ul>
    </main>
{% endblock main %}

{% block aside %}
    <aside>
        <ul>
            <li><a href="{% get_create_url view.model %}">Create a new {% get_verbose_name view.model %}</a></li>
        </ul>
    </aside>
{% endblock aside %}