{% extends './base.html' %}
{% load static %}
{% load artcase_extras %}

{% block main %}
    <main>
        <h1>{{ view.title }}</h1>
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="save" value="Save" />
            {% if not object %}
            <input type="submit" name="save_and_new" value="Save &amp; create another" />
            {% endif %}

            {% if object %}
            <a href="{{ object.get_absolute_url }}">Cancel</a>
            {% else %}
            <a href="{% get_list_url view.model %}">Cancel</a>
            {% endif %}

        </form>
    </main>
{% endblock main %}

{% block aside %}
    <aside>
        <ul>
            <li><a href="{% get_list_url view.model %}">List of {% get_verbose_name_plural view.model %}</a></li>
        </ul>
    </aside>
{% endblock aside %}