{% extends './base.html' %}
{% load static %}
{% load artcase_extras %}

{% block main %}
    <main>
        <h1>{% get_verbose_name view.model 'title' %}: {{ object }}</h1>

        {% if view.fields %}
            <dl>
            {% for field in view.fields %}
                <dt>{% get_field_name view.model field 'title' %}</dt>
                <dd>{% get_field_data view.model field object.pk %}</dd>
            {% endfor %}
            </dl>
        {% endif %}

    </main>
{% endblock main %}

{% block aside %}
    <aside>
        <ul>
            <li><a href="{% get_list_url view.model %}">List of {% get_verbose_name_plural view.model %}</a></li>
            <li><a href="{% get_update_url view.model object.pk %}">Edit this {% get_verbose_name view.model %}</a></li>
            <li><a href="{% get_delete_url view.model object.pk %}">Delete this {% get_verbose_name view.model %}</a></li>
            <hr>
            <li><a href="{% get_create_url view.model %}">Create a new {% get_verbose_name view.model %}</a></li>
        </ul>
    </aside>
{% endblock aside %}