<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h4>The Collection</h4>
            <ul>
                <!--<li><a href="#">Pictures</a></li>-->
                <li><a>Artists</a></li>
                <li><a href="{% url 'artifact_list' %}">Artifacts</a></li>
                <li><a>Publishers &amp; Printers</a></li>
                <li><a>Subjects</a></li>
                <li><a>Cultures</a></li>
                <!--<li><a href="#">Location Map</a></li>-->
            </ul>
        </div>

        <div class="col-sm-3">
            <h4>About the Collection</h4>
            <ul>
                <li><a>About the Collection</a></li>
                <li><a>Privacy Policy</a></li>
                <li><a>Usage &amp; Copyright</a></li>
            </ul>
        </div>

        <div class="col-sm-3">
            <h4>Connect</h4>
            <ul>
                <li><a>Contact Us</a></li>
                <li><a>Exhibit Information</a></li>
                <li><a>Links</a></li>
                <!--<li>Share on Facebook</li>-->
                <!--<li>Share on Twitter</li>-->
            </ul>
        </div>

        <div class="col-sm-3">
            <h4>Credits</h4>
            <ul>
                <li><a>Bibliography</a></li>
                <li><a>Colophon</a></li>
                <li>Website by: <a href="http://berryworkshop.com/">Berry Catalog Workshop</a></li>
            </ul>
        </div>
    </div>
    <div class="row text-center">
        <a href="https://www.positivessl.com" style="font-family: arial; font-size: 10px; color: #212121; text-decoration: none;"><img src="https://www.positivessl.com/images-new/PositiveSSL_tl_trans.png" alt="Positive SSL on a transparent background" title="Positive SSL on a transparent background" border="0" /></a>
    </div>
</div>
